*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_container{
  width: 44rem;
  margin: 30px auto;
  padding: 4.5rem 6rem 2rem 6rem ;
  color: white;
  background-color: #3c576c;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5 );

}

.image_flex{
  height:7rem;
  width: 6.5rem;
}
.bottom_line_input {
    width: 100%;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent; 
    font-family: inherit;
    transition: border-bottom-color 0.3s;

}

.header_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.containers{
    display: flex;
    gap: 15px; 
    margin-bottom: 10px;

}
.form_group{
  display: flex;
  flex-direction: column;
  width: 100%; 
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
}

.half_width{
    flex: 1;
}
.address_font{
 font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: 13px;
  font-variation-settings: "wdth" 75;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:"wdth" 50;
  
}

.titillium_web_semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 6%;
  text-align: center;
  font-size: 2.3rem;
}

.google_sans_flex_54 {
  font-family: "Google Sans Flex", sans-serif;
  
  font-weight: 600;
  font-size: 2.5rem;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 50,
    "GRAD" 0,
    "ROND" 0;
}


.google_sans_flex_55 {
  font-family: "Google Sans Flex", sans-serif;
  margin-top: 0;
  
  font-weight: 700;
  font-size: 3.3rem;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "GRAD" 0,
    "ROND" 0;
}

.titillium_web_light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 2%;
    color: white;
}


.date_group{
  display: flex;
  align-items: flex-end; 
  border-bottom: 1px solid white; 
  padding: 5px 0; 
  width: 100%;
  opacity: 0.7;
  justify-content: space-evenly;
}



.input_date{
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 14px;
  font-family: inherit;
  text-align: center; 
  /* input tag width adjust  */
  width: 30px; /*this width is for only for date and month DD and MM width */
 
}

#year{
  width: 4rem;
}
.calendar_icon{
  background-color: white;
  padding: 1px 13px ;
  border-radius: 25px;
  margin: auto 5px;
}
.calendar_icons{
  
  height: 11px;
  width: 10px;

}


.date_spliter{
  font-size: 16px;
  font-weight: 300;
  margin: 0 5px;
}

.date_fields{
  right: 0;
  display: flex;
  justify-content: center;

}
.add_font_size{
  font-size: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:"wdth" 50;
}

.address_space{
  margin-bottom: 0px;
  padding-top: 0px;
}
